// Debug Configuration
PRODUCT_BUNDLE_IDENTIFIER = com.ahyeonlee.gifty.debug
PRODUCT_NAME = Gifty DEV

// AdMob Test IDs
ADMOB_APP_ID = ca-app-pub-3940256099942544~1458002511
ADMOB_BANNER_ID = ca-app-pub-3940256099942544/2934735716
ADMOB_INTERSTITIAL_ID = ca-app-pub-3940256099942544/4411468910

// Environment
ENVIRONMENT = DEBUG
